*.pyc
__pycache__/
.DS_Store
results*
calvin/data/links*.csv
calvin/data/annual/*
my-models*
.ipynb_checkpoints/
.vscode
*.code-workspace
notebooks/
notes.md
todo.md
main-pf.py
main-cosvf-front-solutions.py