.idea/*
*.log
*.pyc
*.egg*
__pycache__/
.DS_Store
results/
calvin/data/links*.csv
calvin/data/annual/*
my-models*
/tmp/
documentation/references/
documentation/code/*
*sublime*

# Calvin Network App
calvin/app/static/
calvin/app/frontend/node_modules/
calvin/app/frontend/dist/
calvin/app/data.zip
